.showCase{
  background-color: #fff;
  width: 95%;
  margin: 0.5rem 2rem;
  border: 1px solid transparent;
}
ol {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 6rem;
  width: 100%;
  list-style: none;
}
.categories {
  width: 8rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.round {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgb(255, 214, 221);
  
}
.round img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.categories label {
  position: absolute;
  text-align: center;
  bottom: 0%;
  width: 100%;
  padding: 5px 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
.banner {
  width: 100%;
  height: 12rem;
  overflow: hidden;
  position: relative;
}
.banner img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  animation: slideIn 9s infinite;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.banner img:nth-child(1) {
  animation-delay: 0s;
}

.banner img:nth-child(2) {
  animation-delay: 3s;
}

.banner img:nth-child(3) {
  animation-delay: 6s;
}
